/* CSS Document */


@media (max-width:767px) {
.container {
	width: 85%
}
}

@media (min-width:768px) {
.container {
	width: 750px;
}

}


@media (min-width:991px) {
.container {
	width: 950px;
	
}
			
}


@media (min-width:1200px) {
.container {
	width: 1180px;
}
}

@media (min-width:1350px) {
.container {
	width: 1280px;
}		
}

@media (min-width:1280px) {
.container {
	width: 1120px;
	
}

		
}	
@media (min-width:1366px) {
.container {
	width: 1280px;
	
}
}
@media (max-width:1365px) {

	.nbs-flexisel-nav-right{
		right:-20px;
	}
	.feature_slide_div .feature_slide_content::after{
		border-left:204px solid transparent;
	}
	.feature_slide_div .feature_slide_content{
		width:209px;
	}
	.feature_slide_div .feature_slide_content::before{
		border-left:209px solid #fff;
	}
	.nbs-flexisel-nav-right{
		right:0px;
	}

}

@media (max-width:1334px) {
	
	.gear_sec .gear_sec_top{
		background:url("../images/gear_img4.png") no-repeat scroll left top 8px;
		background-size:50%;
	}
	
}


@media (max-width:1224px) {
	
	.feature_slide_div{
		width:90%;
		margin:0 auto;
	}
	.feature_slide_div .feature_slide_content{
		width:196px;
	}
	.feature_slide_div .feature_slide_content::before{
		border-left:196px solid #fff;
	}
	.feature_slide_div .feature_slide_content::after{
		border-left:191px solid transparent;
	}

	
}

@media (max-width:1199px){
	
	.head_logo_div{
		left:35%;
	}
	.banner_sec .banner_div{
		right:11%;
		top:18%;
	}
	.gear_sec{
		margin-top:-5.6%;
	}
	.gear_sec .gear_sec_top{
		padding-bottom:2px;
	}
	.gear_sec h5{
		font-size:17px;
	}
	.gear_sec .gear_sec_top .gear_sec_top_div{
		padding-top:9%;
	}
	
	.feature_slide_div{
		width:100%;
	}
	.feature_slide_div .feature_slide_content{
		width:180px;
	}
	.feature_slide_div .feature_slide_content::before{
		border-left:180px solid #fff;
	}
	.feature_slide_div .feature_slide_content::after{
		border-left:175px solid transparent;
	}
	.nbs-flexisel-nav-right{
		right:-10px;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right{
		top:138px !important;
	}
}


@media (max-width:1150px){
	
	.gear_sec .gear_sec_top .gear_sec_top_div{
		padding-top:8%;
	}
	
}

@media (max-width:1110px){
	
	.gear_sec .gear_sec_top .gear_sec_top_div{
		padding-top:7%;
	}
	
}
@media (max-width:1074px){
	
	.gear_sec .gear_sec_top .gear_sec_top_div{
		padding-top:6%;
	}
}
@media (max-width:1034px){
	
	.gear_sec .gear_sec_top .gear_sec_top_div{
		padding-top:5%;
	}
}

@media (max-width:1095px){
body,html{
	font-size: 0.90rem;
}

}

	
@media (max-width:1024px) {
	
	.head_logo_div{
		left:34%;
	}

}
@media (max-width:991px) {

	
	.header_bottom{
		padding:38px 0;
	}
	.unresponsive_menu{
		display:none;
	}
	.header_top_l{
		display:none;
	}
	.header_top_r{
		display:none;
	}
	
	.responsive_head_div{
		display:block;
	}
	#toggle_menu:checked + .responsive_menu{display:block; transition:all .6s ease-in-out; -webkit-transition:all .6s ease-in-out;}
			
	.banner_div_text h1{
		font-size:50px;
	}
	.banner_sec .banner_div{
		top:12%;
	}
	.gear_img1{
		display:none;
	}
	.gear_sec{
		margin:30px 0;
	}
	.gear_img2{
		display:block;
		margin:0 auto;
		width:60%;
		margin-bottom:10px;
	}
	.gear_sec .gear_sec_top{
		padding:0px 15px;
		margin:0px auto;
		background:none;
		margin-bottom:25px;
	}
	.gear_sec .gear_sec_top .gear_sec_top_div{
		padding:0px;
		text-align:center;
	}
	.gear_sec h2{
		text-align:center;
	}
	.gear_sec h2::after{
		margin:0 auto;
	}
	.gear_sec .view_btn{
		margin:24px auto;
	}
	.gear_sec .gear_sec_bottom{
		background:none;
		padding:0px 15px;
		text-align:center;
	}
	.athletic_programming_section{		
		padding:0px 15px;
		text-align:center;	
	}
	.athletic_programming{
		background:none !important;	
	}
	.gear_sec .gear_sec_bottom .gear_sec_bottom_div{
		padding:0px;
	}
	.gear_sec h5{
		font-size:18px;
		line-height:25px;
	}
	
	.feature_slide_div .feature_slide_content{
		width:230px;
	}
	.feature_slide_div .feature_slide_content::before{
		border-left:230px solid #fff;
	}
	.feature_slide_div .feature_slide_content::after{
		border-left:225px solid transparent;
	}
	.feature_slide_div{
		width:96%;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right{
		top:162px !important;
	}
	
	
	footer .footer_div1 ul{
		display:block;
		width:100%;
	}
	footer .footer_div1 .social_div{
		width:100%;
		display:block;
		margin-top:15px;
	}
	
	
	
	
	
}
	
@media (max-width:880px){


}
@media (max-width:815px){

			
}


@media (max-width:768px) {
body,html{
	font-size: 0.80rem;
}
header{
	padding-top:30px;
}
.head_logo_div{
	bottom: 0;
    display: block;
    left: 0;
    margin: 0 auto;
    position: inherit;
    right: 0;
    top: 0;
    width: 190px;
	border:3px solid #fff;
	border-radius:3px;
	padding:12px;
}
.head_logo_div .logo_bg_img{
	display:none;
}
.head_logo_div .logo{
    display: block;
    margin: 0 auto;
    width: 100%;
}
.header_top{
	display:none;
}
.responsive_head_div{
	text-align:center;
}
.responsive_head_l{
	float:none;
	text-align:center;
}
.responsive_head_r{
	float:none;
	text-align:center;
	margin:0 auto;
}
.responsive_menu{
	top:118px;
}
.responsive_head_l a{
	margin:5px;
}
.toggle_menu{
	margin:0px auto;
	margin-top:15px;
}
.banner_div_text h1{
	font-size:30px;
}
.banner_div .view_btn{
	width:180px;
	font-size:14px;
	height:38px;
	line-height:38px;
}
.view_btn img{
	margin-left:4px;
	vertical-align:sub;
}


.knowmore_sec{
	border-bottom:0px;
}
.knowmore_sec .knowmore_btm_img{
	display:none;
}

.feature_slide_div .feature_slide_content{
	width:250px;
	margin:0 auto;
}
.feature_slide_div .feature_slide_content::before{
	border-left:250px solid #fff;
}
.feature_slide_div .feature_slide_content::after{
	border-left:245px solid transparent;
}
.nbs-flexisel-nav-right{
	right:-20px;
}
.feature_slide_div .view_btn{
	left:18%;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right{
	top:178px !important;
}

.responsive_footer{
	display:block;
}
.unresponsive_footer{
	display:none;
}
footer .responsive_footer .footer_div2{
	width:100%;
	display:block;
	float:none;
}
footer .responsive_footer .footer_div1{
	width:100%;
	display:block;
	float:none;
	margin-top:20px;
}
footer .responsive_footer .footer_div3{
	width:100%;
	display:block;
	float:none;
	margin-top:20px;
}

footer .footer_div2 .footer_logo{
	margin-top:0px;
}
footer .footer_div1 ul{
	text-align:center;
}
	
footer .footer_div1 ul li{
	display:inline-block;
	margin:0 8px;
}
footer .footer_div1 .social_div{
	text-align:center;
}
footer .footer_div1 .social_div .social_content{
	display:inline-block;
	margin:0 8px;
}
footer .footer_div3 h5{
	text-align:center;
}
footer .footer_div3 span{
	width:60%;
}
footer .footer_div3 p{
    color: #323232;
    font-size: 12px;
}


																												
}
@media (max-width:630px){
	
	.feature_slide_div .feature_slide_content{
		width:200px;
	}
	.feature_slide_div .feature_slide_content::after{
		border-left:194px solid transparent;
	}
	.feature_slide_div .feature_slide_content::before{
		border-left:200px solid #fff;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right{
		top:154px !important;
	}

}



@media (max-width:600px) {

	.banner_div_text{
		padding:25px;
	}
	.banner_div_text h1{
		font-size:20px;
	}
	.banner_div .view_btn{
		margin-bottom:-15px;
	}

}
@media (max-width:585px) {
	
								
}
@media (max-width:480px){
	
	.gear_img2{
		width:80%;
	}
	.gear_sec h2{
		font-size:32px;
	}
	.gear_sec .view_btn{
		width:140px;
		height:40px;
		line-height:40px;
		font-size:16px;
	}
	.gear_sec .view_btn img{
		vertical-align:inherit;
	}
	footer .footer_div1 .social_div .social_content{
		margin:6px auto;
		display:block;
	}
	footer .footer_div1 .social_div .social_icon{
		display:block;
		margin:0 auto;
	}
	footer .footer_div1 .social_div a{
		margin:0px;
	}
}
@media (max-width:400px) {

	.banner_div_text{
		padding:15px;
	}
	.banner_div .view_btn{
		margin-top:-10px;
		width:140px;
		font-size:12px;
		height:30px;
		line-height:30px;
	}
	.view_btn img{
		width:7%;
	}
}

@media (max-width:360px) {
	
	.banner_div_text h1{
		font-size:16px;
	}

}



/*----------------------------------------------------*/

@media (max-width:1920px){
	
}

@media (max-width:1600px){
}
@media (max-width:1366px){

}

@media (max-width:1365px){
	
}

@media (max-width:1350px){
	
}

@media (max-width:1300px){
}
@media (max-width:1199px){

}


@media (max-width:1050px){
	
}

@media (max-width:1024px){
}


@media (max-width:991px){

}

@media (max-width:767px){
	
	

}



@media (max-width:500px){
}


