<?xml version="1.0"?>
<config>
  <modules>
    <Canvassignages_Editorsaveddata>
      <version>1.0.0</version>
    </Canvassignages_Editorsaveddata>
  </modules>
   <frontend>
    <routers>
      <editorsaveddata>
        <use>standard</use>
          <args>
            <module>Canvassignages_Editorsaveddata</module>
            <frontName>editorsaveddata</frontName>
          </args>
      </editorsaveddata>
    </routers>
		
  </frontend>
  <global>
	  <blocks>
         <canvassignages_editorsaveddata>
              <class>Canvassignages_Editorsaveddata_Block</class>
         </canvassignages_editorsaveddata>
      </blocks>
	  
	  
    <helpers>
      <editorsaveddata>
        <class>Canvassignages_Editorsaveddata_Helper</class>
      </editorsaveddata>
    </helpers>
	<models>
	  <editorsaveddata>
		<class>Canvassignages_Editorsaveddata_Model</class>
		<resourceModel>editorsaveddata_mysql4</resourceModel>
	  </editorsaveddata>
	  <editorsaveddata_mysql4>
		<class>Canvassignages_Editorsaveddata_Model_Mysql4</class>
		<entities>		  
			  <editorsaveddata>
				<table>editorsaveddata</table>
			  </editorsaveddata>
        </entities>
	  </editorsaveddata_mysql4>
	</models>
	<resources>
	  <editorsaveddata_setup>
		<setup>
		  <module>Canvassignages_Editorsaveddata</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </editorsaveddata_setup>
	  <editorsaveddata_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </editorsaveddata_write>
	  <editorsaveddata_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </editorsaveddata_read>
	</resources>
  </global>
</config> 
