<?xml version="1.0"?>
<config>
    <modules>
        <Jwler_LowerPortionIcon>
            <version>0.0.1</version>
        </Jwler_LowerPortionIcon>
    </modules>

    <global>
        <resources>
            <add_category_icon>
                <setup>
                    <module>Jwler_LowerPortionIcon</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </add_category_icon>
            <add_category_icon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </add_category_icon_write>
            <add_category_icon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </add_category_icon_read>
        </resources>
    </global>
</config>