/* CSS Document */



/*===============================================================
common portion start
=================================================================
*/



@font-face{
    font-family: Bebas;
	src:url(../fonts/BEBAS___1.ttf)
	}
@font-face{
	font-family: Simple-line-Icons;
	src:url(../happy%20bunny/html/fonts/Simple-Line-Icons.ttf);
}
*{
box-sizing:border-box	
	}
body{
	margin:0;
	padding:0 !important;
   font-family: 'Oxygen', sans-serif;
   }

body,html{
	font-size:16px;
}


div,table,tr,th,td,th,video,audio,h1,h2,h3,h4,h5,h6,aside,canvas,section,header,footer,nav,span,p,small,big,a,b,strong,img,hr,pre,button,input,textarea,optgroup,ul,li,ol,select,option,blockquote,nav{
	margin:0;
	padding:0;
	outline:none;
	border:none;
	text-decoration:none;
	list-style-type:none;
}

.clearfix:after {
	content:"";
	display:block;
	height:0;
	clear:both;
	font-size:0;
	}
.clear{
	clear:both
	}

.container{
    margin:0 auto;
	padding:0 0px;
}	

		
.row{
	width:100%;
	margin:10px auto
	}
img {
	max-width:100%;
	}		
	
h1,h2,h3{
	 font-family: 'Bebas', sans-serif;
	 font-weight:normal;
	}
h4,h5,h6{
	font-family: 'Oxygen', sans-serif;
	}	

h1{
	
	font-size:1.875rem;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase;
	font-weight:normal
}

h2 {
	font-size:2rem;
	text-align:center;
	line-height:54px;
	font-weight:bold;
	text-transform:uppercase
	}
		
h3 {
	font-size:1.25rem;
	line-height:40px;
	text-align:center;
	font-weight:normal;
	text-transform:uppercase
	}

h4 {
	font-size:1.438rem;
	line-height:30px;
	text-align:center;
	font-weight:normal;
	
	}
h5 {
	font-size:1.063rem;
	}
			
h6{
	
}
		
p{
	
	font-size:1rem;
	line-height:28px;
	font-weight:normal;
	color:#575555;
	text-align:center;
	margin:15px 0
}

	
input,textarea,select {
	width:100%;
	height:39px;
	border:none;
	margin:0.125rem 0;
	border-radius:0;
	text-indent:5px;
	transition:all .5s ease;
	-moz-transition:all .5s ease;
	-webkit-transition:all .5s ease;
	-o-transition:all .5s ease;
	-ms-transition:all .5s ease;
	color:#575555;
	font-size:15px;
	background:rgba(255,255,255,0.33);
	}

input:focus,textarea:focus,select:focus{
	background:rgba(255,255,255,0.93);
	}
	
input[type="submit"]{
	width:100%;
	background:transparent;
	color:#ffffff;
	text-align:center;
	line-height:45px;
	font-size:18px;
	cursor:pointer;
	transition:all .5s ease;
	-moz-transition:all .5s ease;
	-webkit-transition:all .5s ease;
	-o-transition:all .5s ease;
	-ms-transition:all .5s ease;
}
input[type="submit"]:hover{
	background:#FFF;
	color:#f8db3a;
}

		
	
	
	
::-moz-placeholder{
	color:#f3f3f3;
	}
::-ms-placeholder{
	color:#f3f3f3
	}
::-webkit-placeholder{
	color:#f3f3f3
	}
::-0-placeholder{
	color:#f3f3f3
	}
	


::selection{
	background:#f8db3a;
	color:#050006;
	}
::-moz-selection{
	background:#f8db3a;
	color:#050006;
	}
::-webkit-selection{
	background:#f8db3a;
	color:#050006;
	}
::-o-selection{
	background:#f8db3a;
	color:#050006;
	}
::-ms-selection{
	background:#f8db3a;
	color:#050006;
	}				
	
	
.f_left{
	float:left;
}
.f_right{
	float:right;
}

a.btn_bor{
	background:transparent;
	color:#ffffff;
	text-align:center;
	line-height:45px;
	font-size:18px;
	
	transition:all .3s ease;
	-moz-transition:all .3s ease;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	-ms-transition:all .3s ease;
	margin-left:auto;
	margin-right:auto;
	display:block;
	border-radius:25px;
	border:1px solid #acacac;
	
}
a.btn_bor:hover{
	background:rgba(226,226,226,.3);
}

a.btn_without_bor{
	background:#faa013;
	border-radius:25px;
	font-family: 'Fjalla One', sans-serif;
	font-size:15px;
	text-align:center;
	}

.read_more{
	color:#faa013;
	font-size:15px
	}
.read_more:hover{
	text-decoration:underline
	}	

/*===============================================================
common portion end
=================================================================
*/

@font-face {
	font-family:'GothamLight-Regular';
	src: url('../fonts/GothamLight_gdi.eot');
	src: url('../fonts/GothamLight_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamLight_gdi.woff') format('woff'),
		url('../fonts/GothamLight_gdi.ttf') format('truetype'),
		url('../fonts/GothamLight_gdi.svg#GothamLight-Regular') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2248;
}

@font-face {
	font-family:'GothamBook-Regular';
	src: url('../fonts/GothamBook_gdi.eot');
	src: url('../fonts/GothamBook_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamBook_gdi.woff') format('woff'),
		url('../fonts/GothamBook_gdi.ttf') format('truetype'),
		url('../fonts/GothamBook_gdi.svg#GothamBook-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2248;
}


@font-face {
	font-family:'GothamBold-Regular';
	src: url('../fonts/GothamBold_gdi.eot');
	src: url('../fonts/GothamBold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamBold_gdi.woff') format('woff'),
		url('../fonts/GothamBold_gdi.ttf') format('truetype'),
		url('../fonts/GothamBold_gdi.svg#GothamBold-Regular') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2248;
}

/* *************************************************************
************************** Header ******************************
*************************************************************** */

header{
	width:100%;
	
	}

header .top_bar{
	width:100%;
	height:30px;
	background:#7d1c57
	}


header .top_bar li{
	font-family:'GothamLight-Regular';
	float:left;
	line-height:30px;
	text-align:center;
	font-size:14px;
	color:#ffb7e3
	}
header .top_bar li a{font-family:'GothamLight-Regular'; color:#ffb7e3;}

header .top_bar li img{display:inline-block; margin:0 5px 0 12px;}


.front_nav, nav.small ul.nav{
  float:right;
  /*width:60%;*/
  position:relative
	}
.front_nav ul.front_view_nav li, nav.small ul.nav li{
	float:left
	}
.front_nav ul.front_view_nav li.dot{
	background:url(../images/dot.png) no-repeat center 0;
	width:10px;
	height:10px;
	margin:42px 20px 0 20px
	}	

.front_nav ul.front_view_nav li a, nav.small ul.nav li a{
	font-family: Bebas;
	color:#616161;
	line-height:94px;
	text-transform:uppercase;
	font-size:1rem;
	font-weight:normal !important;
	word-spacing:10px
	}
.front_nav ul.front_view_nav li a:hover, .front_nav ul.front_view_nav li a.active {
	color:#6fa033
	}	

nav.small ul.nav li a {
	padding:0 20px
	}
	
.minilogo{
	width:152px !important;
	}
.front_nav ul.front_view_nav.fixed_nav li a{
	line-height:84px;
	}
	
.front_nav ul.front_view_nav.fixed_nav li.dot{
	margin: 37px 20px 0 20px;
	}	


.hambuger{
	float:right;
	width:40px;
	height:40px;
	border:1px solid #444444;
	border-radius:50%;
	display:none;
	margin-top:30px;
	}
.hambuger a{
	display:block;
	padding:10px
	}
.hambuger a span.bar{
	width:100%;
	height:3px;
	background:#444;
	margin:2px 0;
	display:block
	}		


/* *************************************************************
************************** head_menu ******************************
*************************************************************** */

header nav{background:#381229; height:62px; position:relative; padding-top:2px; transition:height .6s ease-in-out 0s; -webkit-transition:height .6s ease-in-out 0s;}
#toggle_menu{display:none;}
.toggle_menu{display:none; float:right; font-family:'GothamBook-Regular'; color:#d9399a; text-transform:uppercase; font-size:30px; margin:20px 15px 0 0; cursor:pointer; font-weight:bold; line-height:43px; border:1px solid #fff; border-radius:3px; width:32px; height:32px; padding:4px 0;}
.toggle_menu span{width:60%; height:2px; background:#fff; margin:4px auto; display:block;}
.toggle_menu:hover{background:#7d1c57;}

.head_menu{float:right; transition:height .6s ease-in-out 0s; -webkit-transition:height .6s ease-in-out 0s;}
.head_menu li{float:left; line-height:58px; display:inline-block; padding:0 22px;}
.head_menu li a{font-family:'GothamBook-Regular'; color:#fff; text-transform:uppercase; border-bottom:2px solid transparent; display:block; transition:all 0.6s ease; -webkit-transition:all 0.6s ease;}
.head_menu li a:hover{color:#f7a829; border-bottom:2px solid #f7a829;}
.head_menu li.active a{color:#f7a829; border-bottom:2px solid #f7a829;}

nav .logo{position:absolute; z-index:20; top:-30px; width:212px;}





/* *************************************************************
************************** end-head_menu ******************************
*************************************************************** */
	
		

/* *************************************************************
************************** banner ******************************
*************************************************************** */


.banner_wrapper{background:url(../images/banner.png) no-repeat top right 19%; background-size:cover; padding-top:50px; padding-bottom:68px;}
.banner_wrapper .banner2{display:none;}
.banner_wrapper h2{font-family:'GothamBook-Regular'; color:#381229; font-size:36px; line-height:46px; font-weight:normal;}
.banner_content{width:820px; text-align:center;}

.banner_content span{width:400px; display:block; margin:0 auto; margin-bottom:20px;}

.banner_icon{margin-top:10px;}

.banner_btn{margin-top:15px;}
.banner_btn a{width:246px; height:48px; text-align:center; display:inline-block; line-height:48px; font-size:20px; color:#fff; transition:all .6s ease;}
.banner_btn .demo_btn{background:#7d1c57; border-bottom:4px solid #381229;}
.banner_btn .demo_btn:hover{background:#9c1668; border-bottom:none;}
.banner_btn .account_btn{border:1px solid #381229; color:#7d1c57;}
.banner_btn .account_btn:hover{border:1px solid #381229; color:#7d1c57; background:#9c1668; color:#fff; border:1px solid transparent;}


/* *************************************************************
************************** end-banner ******************************
*************************************************************** */


/* *************************************************************
************************** sites-wrapper ******************************
*************************************************************** */

.sites_wrapper{text-align:center; padding:25px 0;}
.sites_wrapper h5{font-family:'GothamBook-Regular'; color:#404040; font-size:16px; line-height:46px; font-weight:normal; text-align:center; margin:12px 0;}
.sites_wrapper img{margin:0 5px;}

.sites_wrapper img{
	 filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
	transition:all .6s ease;
	}

.sites_wrapper img:hover{
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
	}



/* *************************************************************
************************** end-sites-wrapper ******************************
*************************************************************** */


/* *************************************************************
************************** interact-wrapper ******************************
*************************************************************** */


.interact_wrapper_content{background:#e9e9e9; padding-top:38px;}
.interact_wrapper_content h1{font-family:'GothamBook-Regular'; color:#381229; font-size:55px; line-height:66px; font-weight:normal; text-align:left; float:left; display:inline; text-transform:inherit;}
.interact_wrapper_content img{display:inline; float:right;}

.interact_wrapper_detail{margin-top:75px; margin-bottom:95px;}
.interact_detail{text-align:center; width:25.555%; display:inline-block; margin:0 5.666%;}
.interact_detail:first-child{margin-left:0%;}
.interact_detail:nth-child(3){margin-right:0%;}
.interact_detail img{display:block; margin:0 auto;}
.interact_detail label{font-family:'GothamBook-Regular'; color:#381229; font-size:28px; line-height:66px; font-weight:normal;}
.interact_detail p{font-family:'GothamLight-Regular'; color:#515151; font-size:16px; line-height:25px; font-weight:normal; margin:0px;}


/* *************************************************************
************************** end-interact-wrapper ******************************
*************************************************************** */



/* *************************************************************
************************** business-wrapper ******************************
*************************************************************** */



.business_wrapper{text-align:center;}
.business_wrapper h1{font-family:'GothamBook-Regular'; color:#fff; font-size:28px; line-height:34px; font-weight:normal; text-transform:inherit;}
.business_wrapper h2{font-family:'GothamLight-Regular'; color:#f7a829; font-size:20px; line-height:42px; font-weight:normal; text-transform:inherit;}
.business_wrapper p{font-family:'GothamLight-Regular'; color:#fff; font-size:16px; line-height:25px; font-weight:normal; text-align:justify; width:82%; margin:0 auto;}
.business_wrapper a{font-family:'GothamLight-Regular'; color:#fff; font-size:15px; line-height:48px; font-weight:normal; width:250px; height:48px; display:block; background:#381229; border-bottom:5px solid #210817; margin:0 auto; margin-top:18px; transition:all .6s ease; -webkit-transition:all .6s ease;
-moz-transition:all .6s ease;
	-ms-transition:all .6s ease;
	-o-transition:all .6s ease;}
.business_wrapper a:hover{background:#be7a0d; border-color:#58113c;}
.business_wrapper img{ width:100%; display:block;}
.business_wrapper .business_wrapper_content{width:50%; float:left;}
.business_wrapper .business_wrapper_text{ background:url(../images/business_contentbg.png) repeat top left;width:50%; float:left; padding:25px 0;}
.business_wrapper .business_wrapper_content_right{float:right; width:50%;}




/* *************************************************************
************************** end-business-wrapper ******************************
*************************************************************** */



/* *************************************************************
************************** system-wrapper ******************************
*************************************************************** */


.system_wrapper{padding:70px 0; text-align:center;}
.system_wrapper h1{font-family:'GothamBook-Regular'; color:#381229; font-size:34px; line-height:66px; font-weight:normal; text-transform:inherit;}
.system_wrapper h2{font-family:'GothamBook-Regular'; color:#535353; font-size:22px; line-height:22px; font-weight:normal; text-transform:inherit;}
.system_wrapper label{font-family:'GothamBook-Regular'; color:#232323; font-size:20px; line-height:46px; font-weight:normal; text-transform:inherit;}
.system_wrapper p{font-family:'GothamBook-Regular'; color:#4d4d4d; font-size:15px; line-height:25px; font-weight:normal; text-transform:inherit; margin:0px;}
.system_wrapper img{display:block; margin:0 auto; margin-bottom:15px;}

.system_content{margin-top:30px;}
.system_content .system_content_item{margin:0 1.555%; display:inline-block; width:21%; padding:40px 0;}


/* *************************************************************
************************** end-system-wrapper ******************************
*************************************************************** */

.gallery_sec_item{width:100%; margin:25px auto;}
.gallery_sec_item .gallery_sec_content{width:22.111%; margin:0 5.444%; padding:20px 15px; text-align:center; display:inline-block; background:#f1f1f1; border:1px solid #ccc; border-radius:4px;}
.gallery_sec_item .gallery_sec_content h2{color:#232323; font-size:20px; text-align:center; margin:25px auto; line-height:32px; margin-bottom:10px;}
.gallery_sec_item .gallery_sec_content p{ color:#4d4d4d; font-size:16px; text-align:center; margin:0px; line-height:25px; width:100%;}
.gallery_sec_item .gallery_sec_content img{display:block; width:96%; margin:0 auto;}
.gallery_sec_item .gallery_sec_content a{ color:#fff; font-size:14px; text-align:center; margin:0px auto; margin-top:15px; display:block; background:#7d1c57; height:32px; line-height:32px; width:120px; border-radius:4px;}
.gallery_sec_item .gallery_sec_content:hover{background:#e7e7e7;}

.gallery_sec_item aside{
	width:50%;
	float:left;
}
.gallery_sec_item aside p{
	width:100%;
}
.gallery_sec_item figure{
	width:50%;
	float:left;
	margin:0px;
}
.gallery_sec_item figure img{
	display:block;
	margin:0 auto;
}


/* *************************************************************
************************** how-it-works-page ******************************
*************************************************************** */

.about_banner{
	width:100%;
	background:url(../images/works_banner.png) no-repeat top center;
	padding:8% 0;
	background-size:cover;
}


.about_banner .work_banner_content{width:65%;}
.about_banner h1{
	font-family:'GothamBook-Regular';
	color:#381229;
	font-size:34px;
	text-transform:capitalize;
	text-align:center;
	margin:0px;
	line-height:45px;
	font-weight:normal;
}
.about_banner p{font-family:'GothamBook-Regular'; color:#7d1c57; font-size:16px; text-align:center; margin:20px auto; line-height:25px;}

.work_gallery{width:100%; padding:45px 0;}
.work_gallery h1{ color:#381229; font-size:36px; text-align:center; margin:5px auto; line-height:32px;}
.work_gallery h4{ color:#535353; font-size:16px; text-align:center; margin:10px auto; line-height:25px; width:50%;}
.gallery_content_sec{margin:45px 0;}
.gallery_content_itembg{border-right:10px solid #ccc; height:340px; border-radius:24px;}
.work_gallery h2{ color:#232323; font-size:28px; text-align:left; margin:5px auto; line-height:32px;}
.work_gallery p{color:#4d4d4d; font-size:16px; text-align:left; margin:10px 0; line-height:25px; width:72%}
.work_gallery img{display:block; margin:0px;}
.gallery_content_item{width:50%; float:left;}
.gallery_content_item_rt{width:50%; float:right; border-left:10px solid #ccc; height:340px; border-radius:24px;}
.gallery_content_textrt{padding-left:40px!important; border-left:none!important;}
.gallery_content_item_rt img{float:right;}
.gallery_content_text{padding:8% 0; }




.work_banner{
	width:100%;
	background:url(../images/howitwork_banner.jpg) no-repeat top center;
	padding:8% 0 3% 0;
	background-size:cover;
}
.work_banner .work_banner_content{width:65%;}
.work_banner h1{
	font-family:'GothamBook-Regular';
	color:#381229;
	font-size:34px;
	text-transform:capitalize;
	text-align:center;
	margin:0px;
	line-height:45px;
	font-weight:normal;
}
.work_banner p{font-family:'GothamBook-Regular'; color:#7d1c57; font-size:16px; text-align:center; margin:20px auto; line-height:25px;}



.work_body_sec{
	margin:50px 0;
}
.work_sec_l{
	float:left;
	width:50%;
	padding-right:5%;
}
.work_sec_r{
	width:50%;
	float:left;
}
.work_sec_r{
	float:right;
}

.work_body_sec_div{
	margin-bottom:100px;
	display:block;
}
.work_body_sec h2{
	color:#381229;
	font-size:28px;
	text-align:left;
	line-height:66px;
	text-transform:capitalize;
	font-weight:normal;
}
.work_body_sec h3{
	font-size:16px;
	color:#232323;
	line-height:46px;
	text-align:left;
	text-transform:capitalize;
}
.work_body_sec p{
	color: #515151;
    font-family: "GothamLight-Regular";
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    margin: 0;
	text-align:left;
}
.work_sec_text{
	margin-top:25px;
}
.work_sec_text i{
	float:left;
	border:1px solid #eee;
	font-size:28px;
	padding:14px;
	margin-right:25px;
	color:#381229;
	width:60px;
	text-align:center;
}

.work_body_sec .work_body_sec_btn{
	font-family:'GothamLight-Regular';
	color:#fff;
	font-size:15px;
	line-height:48px;
	font-weight:normal;
	text-align:center;
	width:340px;
	display:block;
	background:#381229;
	border-bottom:5px solid #210817;
	margin:0 auto;
	margin-top:18px;
	transition:all .6s ease;
	-webkit-transition:all .6s ease;
	-moz-transition:all .6s ease;
	-ms-transition:all .6s ease;
	-o-transition:all .6s ease;
}
.work_body_sec .work_body_sec_btn:hover{
	background:#be7a0d;
	border-color:#58113c;		
}



/* *************************************************************
************************** end-how-it-works-page ******************************
*************************************************************** */



/* *************************************************************
************************** feature-page ******************************
*************************************************************** */


.feature_banner{
	width:100%;
	background:url(../images/feature_banner.jpg) no-repeat top center;
	padding:10% 0 6% 0;
	background-size:cover;
}
.feature_banner .feature_banner_content{width:65%;}
.feature_banner h1{
	font-family:'GothamBook-Regular';
	color:#381229;
	font-size:34px;
	text-transform:capitalize;
	text-align:center;
	margin:0px;
	line-height:45px;
	font-weight:normal;
}
.feature_banner p{font-family:'GothamBook-Regular'; color:#7d1c57; font-size:16px; text-align:center; margin:20px auto; line-height:25px;}





.feature_body_sec{
	text-align:center;
}
.feature_body_sec h2{
	color: #381229;
    font-family: "GothamBook-Regular";
    font-size: 34px;
    font-weight: normal;
    line-height: 66px;
    text-transform: inherit;
}
.feature_body_sec p{
	color: #535353;
    font-family: "GothamBook-Regular";
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    text-transform: inherit;
	width:70%;
	margin:0px auto;
}
.feature_body_sec h3{
	color: #232323;
    font-family: "GothamBook-Regular";
    font-size: 20px;
    font-weight: normal;
    line-height: 46px;
    text-transform: inherit;
	margin:5px 0;
}
.feature_body_sec h4{
	color: #4d4d4d;
    font-family: "GothamBook-Regular";
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
    margin: 0;
    text-transform: inherit;
}
.feature_body_sec i{
	color:#381229;
	font-size:34px;
	transition:0.6s ease-in-out;
	-moz-transition:0.6s ease-in-out;
	-ms-transition:0.6s ease-in-out;
	-o-transition:0.6s ease-in-out;
	-webkit-transition:0.6s ease-in-out;
}
.feature_body_sec .feature_div_content{
	width:22.666%;
	display:inline-block;
	vertical-align:top;
	margin:4% 1%;
	padding:40px 16px;
	min-height:236px;
	transition:0.6s ease-in-out;
	-moz-transition:0.6s ease-in-out;
	-ms-transition:0.6s ease-in-out;
	-o-transition:0.6s ease-in-out;
	-webkit-transition:0.6s ease-in-out;
}
.feature_body_sec .feature_div_content:hover{
	background:#ededed;
}
.feature_body_sec  .feature_div_content:hover i{
	color:#9d236d;
}
.platform_div, .feedback_div, .customer_div, .report_div{
	border-bottom:1px solid #f0f0f0;
	margin-top:30px;
}
.feature_body_sec .feature_btn{
	font-family:'GothamLight-Regular';
	color:#fff;
	font-size:15px;
	line-height:48px;
	font-weight:normal;
	text-align:center;
	width:340px;
	display:block;
	background:#381229;
	border-bottom:5px solid #210817;
	margin:50px auto;
	transition:all .6s ease;
	-webkit-transition:all .6s ease;
	-moz-transition:all .6s ease;
	-ms-transition:all .6s ease;
	-o-transition:all .6s ease;
}
.feature_body_sec .feature_btn:hover{
	background:#be7a0d;
	border-color:#58113c;		
}




/* *************************************************************
************************** end-feature-page ******************************
*************************************************************** */



/* *************************************************************
**************************footer ******************************
*************************************************************** */

footer{
	
	}
footer .footer_top{
	background:#180611; padding:30px 0;
	}
	
.footer_top_left{width:40%; float:left; padding-right:15%; text-align:left;}
.footer_top_left p{text-align:justify; margin:0px; font-family:'GothamBook-Regular'; color:#f7afdb; font-size:13px; line-height:22px;}
.footer_top_left > img{display:block; margin:0 auto; margin-bottom:20px;}
.footer_top_right{width:60%; float:left;}
.footer_top_right label{font-family:'GothamBook-Regular'; color:#f9d6eb; font-size:20px; line-height:66px;}
.footer_top_right ul{padding-left:15px;}
.footer_top_right ul.social_icon{padding-left:0px;}
.footer_top_right ul.social_icon li{list-style:none;}
.footer_top_right ul.social_icon li img{vertical-align:middle; margin-right:5px;}
.footer_top_right ul li{list-style:disc; color:#f9d6eb;}
.footer_top_right ul li a{font-family:'GothamLight-Regular'; color:#f9d6eb; font-size:14px; line-height:37px; font-weight:normal;}
.footer_top_right ul li:hover{color:#e845a9; transition:all .6s ease; -webkit-transition:all .6s ease;}
.footer_top_right ul li a:hover{color:#e845a9; transition:all .6s ease; -webkit-transition:all .6s ease;}

.footer_top_right ul.social_icon li .fbicon_hover{display:none;}
.footer_top_right ul.social_icon li .twittericon_hover{display:none;}
.footer_top_right ul.social_icon li .googleicon_hover{display:none;}
.footer_top_right ul.social_icon li:hover .fbicon_hover{display:inline-block;}
.footer_top_right ul.social_icon li:hover .twittericon_hover{display:inline-block;}
.footer_top_right ul.social_icon li:hover .googleicon_hover{display:inline-block;}
.footer_top_right ul.social_icon li:hover .fbicon{display:none;}
.footer_top_right ul.social_icon li:hover .twittericon{display:none;}
.footer_top_right ul.social_icon li:hover .googleicon{display:none;}

.footer_top_right .footer_top_right_item{width:33.333%; float:left;}

/*footer .footer_top .footer_t_left{
	float:left
	}
footer .footer_top .footer_t_right{
	line-height:80px;
	float:right
	}


footer .footer_top ul li{
	float:left;
	}

footer .footer_top ul li a{
	display:block;
	padding:0 15px;
	color:#535252;
	font-size:15px;
	line-height:80px
	}
footer .footer_top ul li a:hover{
	color:#58cc6e
	}

footer .footer_top .footer_t_right img{
	
	vertical-align:middle;
	display:inline-block
	
	}*/

footer .footer_bottom{
	background:#260a1b;
	min-height:55px
	}
	
footer .footer_bottom p{font-family:'GothamLight-Regular'; color:#f9d6eb; font-size:13px; line-height:55px; font-weight:normal; text-align:center; margin:0px;}
	
/*footer .footer_bottom .footer_b_left{
	float:left;
	}

footer .footer_bottom .footer_b_right{
	float:right;
	}

footer .footer_bottom .footer_b_left p, footer .footer_bottom .footer_b_right p{
	margin:0;
	line-height:44px;
	font-size:13px;
	color:#6f6f6f
	}

footer .footer_bottom .footer_b_right p a{
	font-size:13px;
	color:#6f6f6f
	}
footer .footer_bottom .footer_b_right p a:hover{
	color:#000736
	}

.up_arrow{
	position:absolute;
	width:95px;
	height:51px;
	left:50%;
	top:-30px !important
	}

.up_arrow a{
	display:block;
	background:url(../images/up_arrow.png) no-repeat 0 0;
	width:100%;
	height:100%;
	
	}*/
/* ****************************************************/

.yelp {
	margin-right:20px
	}


























